:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-gray);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Основні кольори сайту */
  --color-bg: #F6F6F6;
  --color-light: #FFE2E2;
  --color-accent: #FFC7C7;
  --color-gray: #AAAAAA;
}

.header {
  margin-bottom: 20px;
  margin-left: 10%;
  margin-left: 10%;
}

.main {
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  background-color: var(--color-gray);
  color: var(--color-light);
  border-radius: 8px;
  margin-left: 10%;
  margin-right: 10%;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-light);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-gray);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-accent);
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  color: var(--color-bg);
  margin: auto;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  color: var(--color-bg);
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-light);
  color: var(--color-gray);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-accent));
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em var(--color-light));
}

.card {
  padding: 2em;
  background-color: var(--color-bg);
  color: var(--color-gray);
}

.read-the-docs {
  color: var(--color-gray);
}

.window-title {
  text-align: left;
  margin-left: 50px;
  
}

.section-title {
  text-align: left;
  
}

.line-box {
  background-color: var(--color-light);

}

.flex-container {
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Відстань між слайдами */
  border-radius: 8px;
  padding: 8px;
  width: 100%;

}

.swiper {
  display: flex;
  height: 180px;
  margin-top: 10px;
  background-color: var(--color-light);
  border-radius: 8px;
  max-width: 1280px;
  width: 100%;

}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  background-color: var(--color-accent);
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-bg);
  border-radius: 8px;
  margin: 8px;

  height: 160px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-accent);
  /* або інший колір */

  width: 20px;
  height: 30px;
}

.m{
  display: inline flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--color-accent);
}
.popular-manga-item{
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--color-bg);  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent);
  color: var(--color-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-light);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--color-light);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-gray);
    background-color: var(--color-bg);
  }

  a:hover {
    color: var(--color-accent);
  }

  button {
    background-color: var(--color-light);
    color: var(--color-gray);
  }
}